<% - @title = t('pages.gestion-projet.title') %>
<%= partial "layouts/page_header", :locals => {:title => t('pages.gestion-projet.title'), :image => t('pages.gestion-projet.background')} %>
<section class="page--gap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 page__content">
        <%= t('pages.gestion-projet.content1') %>
      </div>
      <div class="col-md-8 offset-md-2 page__content">
        <%= t('pages.gestion-projet.content2') %>
      </div>
      <div class="col-md-8 offset-md-2 page__content">
        <%= t('pages.gestion-projet.content3') %>
      </div>
      <div class="col-md-8 offset-md-2 page__content">
        <%= t('pages.gestion-projet.content4') %>
      </div>
      <div class="col-md-8 offset-md-2 page__content">
        <%= t('pages.gestion-projet.content5') %>
      </div>
    </div>
  </div>
</section>