<% - @title = t('pages.index.title') %>
<header class="index__header">
  <div class="index__header--overlay"></div>
  <div class="col-md-12 index__header--content">
    <h1 class="index__header--title">
      <%= t('pages.index.title') %>
    </h1>
    <p class="index__header--text">
      <%= t('pages.index.text') %>
    </p>
  </div>
</header>
<section class="page">
  <div class="container d-block d-md-none index__phone--mobile">
    <a href="tel:+4383896600">438-389-6600</a>
  </div>
  <div class="container d-none d-md-block">
    <div class="row align-items-center index__phone">
      <div class="col-sm-2">
        <i class="fas fa-mobile-alt"></i>
      </div>
      <div class="col-sm-10">
        <a href="tel:+4383896600">438-389-6600</a>
      </div>
    </div>
  </div>
  <div class="index__management">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6  col-lg-4 offset-lg-2">
          <p><%= t('pages.index.content.management') %></p>
        </div>
        <div class="col-md-6 col-lg-6 ">
          <ul>
            <% t('pages.information.list').each do |item| %>
              <li><%= item %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container index__about">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-4 offset-lg-2">
        <img class="d-none d-md-block index__image" src="https://images.unsplash.com/photo-1531346878377-a5be20888e57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"/>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="index__content index__content--after">
          <h6><%= t('pages.index.content.h6') %></h6>
          <h2><%= t('pages.index.content.h2') %></h2>
          <p><%= t('pages.index.content.text') %></p>
        </div>
      </div>
      <div class="col-xs-6 d-md-none">
        <img src="https://images.unsplash.com/photo-1424298397478-4bd87a6a0f0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="index__content">
          <p><%= t('pages.index.content2.text') %></p>
        </div>
      </div>
    </div>
  </div>
</section>