<header class="index__header">
  <div class="index__header--overlay"></div>
  <div class="col-md-12 index__header--content">
    <h1 class="index__header--title">
      <%= t('pages.index.title') %>
    </h1>
    <p class="index__header--text">
      <%= t('pages.index.text') %>
    </p>
  </div>
</header>
<section class="page">
  <div class="container">
    <div class="index__phone">
      <i class="fas fa-mobile-alt"></i>
      <span>xxx-xxx-xxxx</span>
    </div>
    <div class="row align-items-center index__first">
      <div class="col-md-4 offset-md-2">
        <img class="index__image" src="https://images.unsplash.com/photo-1531346878377-a5be20888e57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"/>
      </div>
      <div class="col-md-4">
        <div class="index__content">
          <h6><%= t('pages.index.content.h6') %></h6>
          <h2><%= t('pages.index.content.h2') %></h2>
          <p><%= t('pages.index.content.text') %></p>
        </div>
      </div>
    </div>
  </div>
</section>